body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1, h2, h3 , h4, h5, h6 {
    font-family: 'Montserrat-Bold', sans-serif;
}


/* Sections */

.color-section {
    background-color: #ff4c68;
    color: white;
}

.white-section {
    background-color: white;
}

/* Container */

.container-fluid {
    padding: 7% 15%;
}

/* Headings */

.big-heading {
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
}

.section-heading {
    font-size: 3rem;
    line-height: 1.5;
}


/* Title Section */

.title-img {
    width: 20%;
    transform: rotate(25deg);
    position: absolute;
}

#title .container-fluid {
    text-align: left;
    padding: 3% 15% 7%;
}

/* Feature section */

#features {
    position: relative;
    z-index: 1;
}

.feature-title {
    font-size: 1.5rem;
    margin-top: 10px;
}

.feature-icon {
    color:lightcoral;
}

.feature-icon:hover {
    color: #ff4c68;
}

.feature > p {
    color: #8f8f8f;
}


/* Navigation bar */

.navbar {
    padding-bottom: 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat-Light';
}


/* Download Button */

.download-button {
    margin: 5% 3% 5% 0%;
}


/* Testimonial Section */

#testimonials {
    background-color: #ef8172;
}

.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
}

.testimonial-image {
    width: 10%;
    border-radius: 50%;
    margin: 20px;
}



/* Press Section */

#press {
    background-color: #ef8172;
    padding-bottom: 3%;
}

#press > img {
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing {
    padding: 100px;

}

/* .pricing-col {
    padding: 3% 2%;
} */

.price-text {
    font-size: 3rem;
    line-height: 1.5;
}

.price-plan {
    font-size: 3rem;
}

/* Call to Action Section  */


#copyright {
    margin-top: 20px;
}

.footer-icon {
    color: none;
    margin-left: 10px;
    margin-right: 10px;
}


@media (max-width: 1028px) {

    .title-img {
        width: 60%;
        position: static;
        transform: none;
    }

    #title {
        text-align: center;
    }

}


